# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Maven
../target/

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Fichiers temporaires ou de sauvegarde
*.tmp
*.bak
*.swp
*~

# Fichiers de configuration spécifiques à l'environnement
.gradle/
build/
out/
